/* styles.css */
body {
    background-image: url('id-04.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


#weather-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.weather-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
    background-color: white;
}

.weather-card img {
    width: 80px;
}

.weather-card h2 {
    margin-top: 10px;
}

.weather-card p {
    margin: 5px 0;
}
